.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #000000;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
}
.gach {
  width: 100px;
  height: 5px;
  background-color: aliceblue;
  margin: 0 auto;
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
#toggle:checked + .container .gach-1 {
  transform: translateY(25px) rotate(45deg);
}
#toggle:checked + .container .gach-2 {
  opacity: 0;
}
#toggle:checked + .container .gach-3 {
  transform: translateY(-25px) rotate(-45deg);
}
